@model SalesWebMvc.Models.Seller

@{
    ViewData["Title"] = "Excluir";
}

<h1>Tem certeza que deseja excluir este vendedor?</h1>
<hr>
<div>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
        <dt>@Html.DisplayNameFor(model => model.BirthDate)</dt>
        <dd>@Html.DisplayFor(model => model.BirthDate)</dd>
        <dt>@Html.DisplayNameFor(model => model.BaseSalary)</dt>
        <dd>@Html.DisplayFor(model => model.BaseSalary)</dd>
    </dl>
</div>
<hr>
<br>
<form asp-action="Delete">
    <div class="form-group">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Excluir" class="btn btn-danger" /> | 
        <a asp-action="Index">Voltar para lista</a>
    </div>
</form>
